.card {
    position: relative;
    width: 6rem;
    transform-style: preserve-3d;
    transition: .3s;
    --card-padding: 0.4rem;
}
.card:active{
    transform: rotateY(180deg);
    transition: .3s;
}
.card_face {
    position: relative;
    aspect-ratio: 64 / 89;
    padding: var(--card-padding);
    border-radius: 0.5em;
    backface-visibility: hidden;
    box-shadow: 0 0 0.5rem #000a;
}
.front {
    color: var(--card-suit-color, #57585a);
    background-color: var(--card-background, white);
    display: flex;
    overflow: hidden;
}
.back {
    transform: rotateY(180deg);
    background-image: url("https://deti-online.com/img/raskraski-cat/druzhba-eto-chudo.jpg");
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.value {
    align-self: flex-start;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suit {
    flex: 1 1;
    align-self: flex-end;
}

.suit :global(svg) {
    width: -webkit-fill-available;
    height: auto;
}