.card {
    position: relative;
    width: 8rem;
    transform-style: preserve-3d;
    transition: .3s;
    border-radius: .3rem;
    --card-padding: .5rem;
    outline: 1px solid #57585a;
    height: max-content;
}

.card:active{
    transform: rotateY(180deg);
    transition: .3s;
}

.card_face {
    position: relative;
    border-radius: inherit;
    aspect-ratio: 64 / 89;
    padding: var(--card-padding);
    backface-visibility: hidden;
}

.front {
    color: var(--card-suit-color, #57585a);
    background-color: var(--card-background, rgb(255, 255, 255));
    display: flex;
    overflow: hidden;
}

.back {
    transform: rotateY(180deg);
    background-image: url("https://ae04.alicdn.com/kf/S15c67b9f3e154d6c990971b6af15a866E/-.jpg");
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.value {
    align-self: flex-start;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suit {
    flex: 1 1;
    align-self: flex-end;
}

.suit :global(svg) {
    width: -webkit-fill-available;
    height: auto;
}