@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.pole{
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
}
.pole div:nth-child(2){
  align-items: flex-end;
}